
<div class="shop-items">
	<div class="container">

		<div class="row">

			<div class="col-md-9 col-md-push-3">

				<!-- Breadcrumb -->
				<ul class="breadcrumb">
					<li><a href="index.html">Home</a> <span class="divider"></span></li>
					<li><a href="items.html">Smartphone</a> <span class="divider"></span></li>
					<li class="active">Apple</li>
				</ul>

				<div data-id="{{individualProduct.id}}" data-name="{{individualProduct.name}}" 
						data-price="{{individualProduct.price}}" class="single-item">
					<div class="row">
						<div class="col-md-4 col-xs-5">

							<div class="item-image">
								<img id="zoom_01" ng-src="{{individualProduct.productimage}}"
									alt="" data-zoom-image="{{individualProduct.productimage}}" />
							</div>




						</div>
						<div class="col-md-5 col-xs-7 ">
							<!-- Title -->
							<h4>{{individualProduct.name}}</h4>
							<h5>
								<p data-price="{{individualProduct.price}}"><strong>Price : ${{individualProduct.price}}</strong></p>
							</h5>
							<p>
								<strong>Shipping</strong> : Free
							</p>
							<p>
								<strong>Availability</strong> : In Stock
							</p>
							<br />

							<div class="form-group">
								<!-- Dropdown menu -->
								<select class="form-control">
									<option>Color</option>
									<option>Red</option>
									<option>Blue</option>
									<option>Green</option>
									<option>Orange</option>
								</select>
							</div>


							<!-- Quantity and add to cart button -->

							<div class="input-group">
								<input id="quantity" type="text" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-info" type="button" onclick="addToCart(this)">Go!</button>
								</span>
							</div>
							<!-- /input-group -->

							<!-- Add to wish list -->
							<a href="wishlist.html">+ Add to Wish List</a>

							<!-- Share button -->

						</div>
					</div>
				</div>

				<br />

				<!-- Description, specs and review -->

				<ul id="myTab" class="nav nav-tabs">
					<!-- Use uniqe name for "href" in below anchor tags -->
					<li class="active"><a data-target="#tab1" data-toggle="tab">Description</a></li>
					<li><a data-target="#tab2" data-toggle="tab">Specs</a></li>
					<li><a data-target="#tab3" data-toggle="tab">Review (5)</a></li>
				</ul>

				<!-- Tab Content -->
				<div id="myTabContent" class="tab-content">
					<!-- Description -->
					<div class="tab-pane fade in active" id="tab1">
						<h5>
							<strong>{{individualProduct.name}}</strong>
						</h5>

						<div ng-bind-html="individualProduct.longDesc"></div>
					</div>

					<!-- Sepcs -->
					<div class="tab-pane fade" id="tab2">

						<h5>
							<strong>Product Specs:</strong>
						</h5>
						<table class="table table-striped">
							<tbody>
								<tr ng-repeat="attribute in productAttributes">
									<td><strong>{{attribute.name}}</strong></td>
									<td><strong>{{attribute.value}}</strong></td>
								</tr>
							</tbody>
						</table>

					</div>

					<!-- Review -->
					<div class="tab-pane fade" id="tab3">
						<h5>
							<strong>Product Reviews :</strong>
						</h5>
						<hr />
						<div class="item-review">
							<h5>
								Ravi Kumar - <span class="color">4/5</span>
							</h5>
							<p class="rmeta">27/1/2012</p>
							<p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet
								fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus
								erat hendrerit. Vivamus vel ultricies elit. Curabitur lacinia
								nulla vel tellus elementum non mollis justo aliquam.</p>
						</div>

						<hr />
						<h5>
							<strong>Write a Review</strong>
						</h5>
						<hr />
						<form role="form">
							<div class="form-group">
								<label for="name">Your Name</label> <input type="text"
									class="form-control" id="name" placeholder="Enter Name">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label> <input
									type="email" class="form-control" id="exampleInputEmail1"
									placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="rating">Rating</label>
								<!-- Dropdown menu -->
								<select class="form-control">
									<option>Rating</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Review</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
							<button type="submit" class="btn btn-info">Send</button>
							<button type="reset" class="btn btn-default">Reset</button>
						</form>

					</div>

				</div>

			</div>
			<div class="col-md-3 col-md-pull-9">
				<!-- Sidebar items (featured items)-->

				<div class="sidebar-items">

					<h5>Featured Items</h5>



					<div class="sitem" ng-repeat="product in featuredproducts">
						<div class="onethree-left">
							<a href="single-item.html"><img ng-src="{{product.productimage}}" alt=""
								class="img-responsive" /></a>
						</div>
						<div class="onethree-right">
							<a href="single-item.html">{{product.name}}</a>
							<p>{{product.shortDesc}}</p>
							<p class="bold">${{product.price}}</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
