
<div class="shop-items">
	<div class="container">

		<div class="row">

			<div class="col-md-9 col-md-push-3">

				<!-- Breadcrumb -->
				<ul class="breadcrumb">
					<li><a href="index.html">Home</a> <span class="divider"></span></li>
					<li><a href="items.html">Smartphone</a> <span class="divider"></span></li>
					<li class="active">Apple</li>
				</ul>

				<!-- Items List starts -->

				<div class="row">
					<!-- Item #1 -->
					<div class="col-md-4 col-sm-6 col-xs-12"
						ng-repeat="product in products">
						<div class="item">
							<!-- Use the below link to put HOT icon -->
							<div class="item-icon">
								<span>HOT</span>
							</div>
							<!-- Item image -->
							<div class="item-image">
								<a ng-href="#product/id={{product.id}}"><img
									ng-src="{{product.productimage}}" alt="" class="img-responsive" /></a>
							</div>
							<!-- Item details -->
							<div class="item-details">
								<!-- Name -->
								<h5>
									<a href="single-item.html">{{produt.name}}</a>
								</h5>
								<div class="clearfix"></div>
								<!-- Para. Note more than 2 lines. -->
								<p>{{product.shortDesc}}</p>
								<hr />
								<!-- Price -->
								<div class="item-price pull-left">{{product.price}}</div>
								<!-- Add to cart -->
								<div class="pull-right">
									<a href="#" class="btn btn-danger btn-sm">Add to Cart</a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

				</div>


				<!-- Items List ends -->


				<div class="row">
					<div class="col-md-12">
						<!-- Pagination -->
						<ul class="pagination">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-3 col-md-pull-9">
				<!-- Sidebar items (featured items)-->

				<div class="sidebar-items">

					<h5>Featured Items</h5>



					<div class="sitem" ng-repeat="product in featuredproducts">
						<div class="onethree-left">
							<a href="single-item.html"><img ng-src="{{product.productimage}}" alt=""
								class="img-responsive" /></a>
						</div>
						<div class="onethree-right">
							<a href="single-item.html">{{product.name}}</a>
							<p>{{product.shortDesc}}</p>
							<p class="bold">${{product.price}}</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>




		</div>

		<div class="sep-bor"></div>
	</div>
</div>